<?xml version="1.0" encoding="utf-8"?>
<menu>
	<items label="健康档案">
		<node label="家庭档案" data="jtda" />
		<node label="个人档案" data="grda"/>
		<node label="导入个人档案" data="inputfile"/>
		<node label="导出个人档案" data="outputfile"/>
		<node label="PDF下载器" data="downloadpdf"/>
		<node label="死亡管理" data="deathmanager"/>
		<node label="新建档案" data="insertgrda"/>
	</items>
	
	<items label="健康教育">
		<node label="器材设备管理" data="qcsb"/>
		<node label="教育指导记录" data="zdjl"/>
		<node label="社区卫生服务内容" data="wsfw"/>
		<node label="宣传栏布置记录" data="xclbz"/>
		<node label="健康教育年度计划" data="jkjh"/>
		<node label="健康教育活动记录表" data="jkhdjlb"/>
	</items>
	
	<items label="儿童保健">
		<node label="新生儿家庭访视记录" data="xsejtfsjl"/>
		<node label="1岁以内儿童随访记录" data="ysynetsfjl"/>
		<node label="1-2岁儿童随访服务记录" data="ydesetsffwjl"/>
		<node label="3岁儿童随访服务记录" data="ssetsffwjl"/>
	</items>
	
	<items label="妇女保健">
		<node label="妇女检查记录" data="fnjcjl"/>
		<node label="妇女病查治登记" data="fnbczdj"/>
		<node label="计划生育普查" data="jhsypc"/>
		<node label="计划生育登记" data="jhsydj"/>
		<node label="孕产妇保健">
			<node label="第1次产前随访服务记录" data="dyccqsffwjl"/>
			<node label="第2～5次产前随访服务记录" data="dedwccqsffwjl"/>
			<node label="产后访视记录" data="chfsjl"/>
			<node label="产后42天健康检查记录" data="chsetjkjcjl"/>
		</node>
	</items>
	
	<items label="预防接种">
		<node label="计划免疫" data="jhmy"/>
	</items>
	
	<items label="慢性病管理">
		<node label="高血压" data="gxy"/>
		<node label="糖尿病" data="tnb"/>
		<node label="冠心病" data="gxb"/>
		<node label="脑卒中" data="nzz"/>
		<node label="肿瘤" data="zl"/>
		<node label="重性精神疾病" data="zzjsjb"/>
	</items>
	
	<items label="地理信息管理">
		<node label="辖区地图" data="xstcdt"/>
		<node label="建筑信息管理" data="building"/>
	</items>
	
	<items label="医疗服务">
		<node label="诊疗信息管理" data="mzzlxxgl1">
			<node label="接诊诊疗信息管理" data="jiezzlxxgl"/>
			<node label="转出信息管理" data="zcxxgl"/>
			<node label="转入信息管理" data="hzxxgl"/>
		</node>
		<node label="健康体检信息管理" data="jktjxxgl"/>
	</items>
	
	<items label="健康照护">
		<node label="健康照护" data="jkzh"/>
	</items>

	<items label="康复管理">
		<node label="残疾人登记" data="cjrdj"/>
		<node label="肢残训练登记" data="cjxldj"/>
		<node label="肢残训练评估" data="cjxlpg"/>
		<node label="肢残训练计划" data="cjxljh"/>
		<node label="肢残训练记录" data="cjxljl"/>
	</items>

	<items label="信息服务">
		<node label="短信提醒" data="fsdx"/>
		<node label="网上督办" data="message"/>
		<node label="文档管理" data="wdgl"/>
		<node label="权限设置" data="messageright"/>
	</items>    

	<items label="统计管理">
		<node label="示意图显示">
			<node label="总体统计" data="stat" />			
			<node label="3岁以下儿童" data="stat_et"/>
			<node label="妇女检查" data="stat_fnjc"/>
			<node label="孕产妇" data="stat_ycf"/>
			<node label="50岁以上人群" data="stat_lnr"/>
			<node label="重性精神疾病" data="stat_zxjsb"/> 
			<node label="慢性病">
				<node label="糖尿病" data="stat_tnb"/>
				<node label="高血压" data="stat_gxy"/>	  
				<node label="冠心病" data="stat_gxb"/>
				<node label="脑卒中" data="stat_nzz"/>
				<node label="肿瘤" data="stat_zl"/>
			</node>
		</node>
		<node label="报表统计">
				<node label="新生儿" data="yb_xse" />
				<node label="3岁以下儿童" data="yb_et" />
				<node label="孕产妇" data="yb_ycf" />
				<node label="65岁以上老人" data="yb_lnr" />
				<node label="死亡人口" data="yb_death" />
				<node label="残疾人" data="yb_cj" />
				<node label="重性精神疾病" data="yb_zxjsb" />
				<node label="慢性病" >
					<node label="糖尿病" data="yb_tnb" />
					<node label="高血压" data="yb_gxy" />
					<node label="冠心病" data="yb_gxb" />
					<node label="脑卒中" data="yb_nzz" />
					<node label="肿瘤" data="yb_zl" />
				</node>
		</node>
		<node label="档案录入统计表" data="statlrb"/>	
		<node label="医护人员工作量统计" data="stat_gzl" />
		<node label="建档数统计" data="stat_jds"/>
		<node label="考核指标统计">
			<node label="填写常用考核指标数值" data="edit_khzb"/>
			<node label="考核指标统计" data="stat_khzb"/>
			<node label="健康教育考核指标统计" data="stat_jkjy"/>
		</node>
		<node label="电话回访">
		    <node label="填写电话回访记录" data="edit_dhhf"/>
			<node label="电话回访合格率" data="stat_dhhf"/>
			<node label="电话回访管理" data="hf_gl"/>
		</node>
	</items>
	
	<items label="系统管理">
		<node label="机构人员管理">
		    <node label="机构设置" data="jgsz"/>
		    <node label="居民住宅管理" data="jmzz"/>
		    <node label="医护人员管理" data="isdoctor"/>
	    </node>
	    <node label="用户管理" data="yhgl"/>
		<node label="角色管理" data="rolegl"/>
		<node label="权限字典管理" data="dictsgl"/>
		<node label="修改密码" data="xgmm"/>
		<node type="separator"/>
		<node label="初始化数据" data="indexdir"/>
		<node label="关于" data="regarding"/>
		<node type="separator"/>
		<node label="退出登录" data="tcdl"/>
	</items>
</menu>